@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fffff] text-gray-900
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7E41CA;
  border-radius: 14px;
}

#profile{

};

#skills{
  
};

#emphasis{

};

#experience{

};


#contact{

};


.parallelogram 
{
	width: 5rem;
	height: 10rem;
	transform: skew(20deg);
	background: rgb(2, 199, 224);
}


@media screen and (max-width: 280px) {
 
}

@media screen and (max-width: 320px) {
  .small-font-fold {
 
    font-size: 4px; 
  }


  .small-font-margin {
  
    margin-left: -1.5rem; /* Adjust the margin as needed for Galaxy Fold */
  }
}



@media (max-width: 640px) {
  .small-screen-font {
    font-size: 9px;
  }

   .hide-image {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .medium-screen-font {
    font-size: 16px;
  }
}